{% extends 'base.html' %}

{% block title %}Cart | HTK Farms{% endblock %}
{% block content %}

<div class="d-flex justify-content-between mb-3">
    <h3>Your Cart</h3>

    {% if cart_items %}
    <a href="/clear-cart/" class="btn btn-danger"
       onclick="return confirm('Are you sure you want to clear cart?')">
        🗑️ Clear Cart
    </a>
    {% endif %}
</div>

{% if cart_items %}

<table class="table">

    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Action</th>
    </tr>

    {% for item in cart_items %}
    <tr>
        <td>{{ item.product.name }}</td>
        <td>₹{{ item.product.price }}</td>

        <td>
    <div class="d-flex align-items-center">

        <!-- Decrease -->
        <a href="/decrease/{{ item.id }}/" class="btn btn-sm btn-danger">-</a>

        <!-- Input box -->
        <input type="number"
               value="{{ item.quantity }}"
               min="1"
               class="form-control mx-2 text-center"
               style="width:70px;"
               onchange="updateQuantity('{{ item.id }}', this.value)"
               >

        <!-- Increase -->
        <a href="/increase/{{ item.id }}/" class="btn btn-sm btn-success">+</a>

    </div>
</td>


        <td>₹{{ item.total_price }}</td>

        <td>
            <a href="/remove/{{ item.id }}/" class="btn btn-sm btn-dark">
                Remove
            </a>
        </td>
    </tr>
    {% endfor %}

</table>

<h4 class="text-end">Total Price: ₹{{ total }}</h4>
<a href="/checkout/" class="btn btn-success w-100 mt-3">
    Proceed to Checkout
</a>
{% else %}

<div class="text-center mt-5">
    <h4>Your cart is empty 🛒</h4>
    <a href="/products/" class="btn btn-success mt-3">
        Shop Now
    </a>
</div>

{% endif %}


{% endblock %}