{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5" style="max-width:500px;">
  <div class="card p-4 shadow-sm">

    <h4 class="mb-3 text-center">🔐 Change Password</h4>

    <form method="POST">
      {% csrf_token %}

      <!-- CURRENT PASSWORD -->
      <div class="position-relative mb-3">
        <input type="password" id="current" name="current_password"
               placeholder="Current Password"
               class="form-control" required>
      </div>

      <!-- NEW PASSWORD -->
      <div class="position-relative mb-2">
        <input type="password" id="newPassword" name="new_password"
               placeholder="New Password"
               class="form-control" required>
        
        <!-- 👁 eye icon -->
        <span onclick="togglePassword('newPassword')" class="eye">👁</span>
      </div>

      <!-- STRENGTH BAR -->
      <div class="progress mb-3" style="height:6px;">
        <div id="strengthBar" class="progress-bar"></div>
      </div>

      <!-- CONFIRM PASSWORD -->
      <div class="position-relative mb-3">
        <input type="password" id="confirmPassword" name="confirm_password"
               placeholder="Confirm Password"
               class="form-control" required>
        
        <span onclick="togglePassword('confirmPassword')" class="eye">👁</span>
      </div>

      <button class="btn btn-success w-100">
        Update Password
      </button>

    </form>

  </div>
</div>


{% endblock %}
<script src="{% static 'js/main.js' %}"></script>